@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  /* Theme colors */
  --color-primary: #6154a4;
  --color-primary-light: #6154a4a1;
  --color-primary-lightest: #6154a43f;
  --color-bg: #f8f8f8;
  --color-divider: #dcdfe4;
  --color-text-primary: #212636;
  --color-text-secondary: #667085;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
