@import 'tailwindcss';

@theme {
  /* Theme colors */
  --color-primary: #0fa6a2;
  --color-primary-light: #0fa6a299;
  --color-primary-lightest: #0fa6a214;

  /* Text colors */
  --color-text-dark: #2c254b;
  --color-text-light: #6b6681;
  --color-text-lightest: #6b668180;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
